* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: white;
}
.container {
  max-width: 800px;
  border-radius: 2rem;
  width: 90%;
  background: #23463f;
  padding: 20px 25px;
  font-weight: 900;
  text-align: center;
}
h3 {
  text-align: center;
  color: pink;
  font-size: 25px;
}
h4 {
  color: aquamarine;
}
a:visited {
  color: white;
}
a:hover {
  color: hotpink;
}
